#container{
    width: 95%;
    border: 2px solid rgb(238, 238, 238);
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
}

#lista_titulo{
    width: 100%;
    text-align: center;
    margin-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border-bottom: solid 1px black;
}

#container_lista{
    overflow-x: scroll;
}

@media screen and (max-width: 600px) {
    #container{
        width: 90%;
        border: 2px solid rgb(238, 238, 238);
        border-radius: 15px;
        margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
    }
  }