<div class="wrapper">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/user_icon.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
        <input type="text" id="user" class="fadeIn second" formControlName="usuario" placeholder="usuario">
        <input type="password" id="password" class="fadeIn third" formControlName="password" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
  
    </div>
  </div>